@charset "UTF-8";

@font-face {
    font-family: 'BusanBada';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BusanBada.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.bg-busan{
    background-image: url('../images/busan1.png');
    background-size : cover;
    background-position: center;
    background-repeat: no-repeat;
}

#floatingTitle::before,
#floatingTitle::after
 {
    content : "";
    background-size : cover;
    width : 110px;
    height : 110px;
    position: absolute;
}

#floatingTitle::after {
    background-image: url('../images/main_logo.png');
    top : -35px;
    left : -85px;
}

#floatingTitle::before {
    background-image: url('../images/main_logo2.png');
    bottom : -20px;
    right : -90px;
    background-position: right;
}

#floatingTitle span{
    color : #0b7bb3;
    font-family: 'BusanBada', sans-serif;
    font-weight: normal;
}